<form method="post" action="/transactions/<%= @transaction.id %>">
  <label for="transaction-date">Date of transaction:</label>
  <input type="date" name="transaction_date" value="<%= @transaction.transaction_date() %>">  
  <label for="merchant-id">Select a merchant:</label>
    <select id="merchant-id" name="merchant_id">
      <% @merchants.each do |merchant| %>
        <option <%= "selected" if
        (@transaction.merchant_id == merchant.id) %>
        value="<%= merchant.id %>">
          <%= merchant.name %>
        </option>
      <% end %>
    </select>
  <label for="category-id">Select a category:</label>
    <select id="category-id" name="category_id">
      <% @categories.each do |category| %>
        <option <%= "selected" if
        (@transaction.category_id == category.id) %>
        value="<%= category.id %>">
          <%= category.name %>
        </option>
      <% end %>
    </select>
  <label for="amount">Enter Amount: £</label>
    <input id="amount" type="number" min="0" name="amount" step="0.01" value="<%= @pretty_total %>">
  <input type="submit" value="Update this Transaction">
</form>
