<form method="post" action="/transactions/<%= @transaction.id %>">
  <label for="merchant-id">
    Select a merchant:
    <select id="merchant-id" name="merchant_id">
      <% @merchants.each do |merchant| %>
        <option <%= "selected" if
        (@transaction.merchant_id == merchant.id) %>
        value="<%= merchant.id %>">
          <%= merchant.name %>
        </option>
      <% end %>
    </select>
  </label>
  <label for="category-id">
    Select a category:
    <select id="category-id" name="category_id">
      <% @categories.each do |category| %>
        <option <%= "selected" if
        (@transaction.category_id == category.id) %>
        value="<%= category.id %>">
          <%= category.name %>
        </option>
      <% end %>
    </select>
  </label>
  <label for="amount">
    Enter Amount: £
    <input id="amount" type="number" min="0" name="amount" step="0.01" value="<%= @pretty_total %>">
  </label>
  <input type="submit" value="Update this Transaction">
</form>
